.root{
  display: flex;
  position: absolute;
  top: var(--header-height);
  bottom: 0;
  left: 0;
  right: 0;
}

.content{
  height: 100%;
  width: 100%;
  overflow: auto;
  
  padding: 0 20px 20px 40px;
  border-left: 1px solid #e0e0e0;
  
  & table th {
    text-align: left;
    padding: 8px;
    font-weight: 400;
    background-color: color( var(--color-primary) a(10%));
  }
  & table td {
    padding: 8px;
  }
  & table {
    border-bottom: solid 1px color( var(--color-primary) a(10%));
  }

  & blockquote{
    padding: 0;
    margin: 0;
    background-color: color( var(--color-primary) a(20%));
    & p {
      padding: 8px;
      font-style: italic;
    }
  }

}

.sidebar {
  padding: 2rem 1rem;
  padding-top: 2rem;
  padding-right: 1rem;
  padding-bottom: 2rem;
  padding-left: 1rem;
  flex-wrap: nowrap;
  min-width: 14rem;


  & ul {
    list-style-type: none;
    margin:0;
    padding-left: .5rem;
  }


  & ul ul{
    padding-left: .5rem;
  }

  & li {
    margin-top: .5rem;
    margin-bottom: .5rem;
    padding-left: .5rem;
    font-weight: 700;
    color: var(--color-primary-dark);
  }
  
  & a {
    color: var(--color-primary-dark);
    font-weight: 400;
    text-decoration: none;
  }

  & a:hover {
    color: var(--color-primary);
  }
}


.selectedLink {
  & a {
    color: var(--color-primary);
    font-weight: bold;
  }
  
  & a:hover{
    color: var(--color-primary-dark);
  }
}



