.inputs {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 4rem;
}

.formInput {
  width: 30rem;
  margin-right: 1rem;
}

.button {
  margin-top: 20px;
  margin-left: 1rem;
}


