.label{
  color: white;
}

.inputElement {
  background-color:rgba(0, 0, 0, .2);
  &:focus:not([disabled]):not([readonly]) {

    & ~ .label:not(.fixed) {
      color: var(--color-primary-grey); /*var(--input-text-highlight-color);*/
    }
  }
}

.bar {

  &::before,
  &::after {
    background-color: color(var(--color-primary-light) a(30%));
    height: 1px;
  }
}

.input input{
  color: white;
}

