.footer{
  background-color:  var(--color-primary-light); 
  display: flex;
  margin:0;
  padding: 20px 0 60px 0;
  border-top: solid 1px color( var(--color-primary-dark) a(10%));
  color: var(--color-primary-dark);
  width: 100%;
}

@media only screen and (max-width: 600px){
  /** if < 600px */
  .footer{
    flex-direction: column;
  }
}

.copyright{
  font-size: 10px;
}
.center{
  width: 100%;
}
.content{
  margin: 0 auto;
  max-width: var(--maxWidth);
  display: flex;
  justify-content: space-between;
}

.nav {
  display: flex;
  flex: 1;
}

.social > *{
  margin: 10px; 
  color: var(--color-primary);
}
