.root{
  overflow-x: hidden;
}

.bigSection { 
  height: 30vh; 
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15rem;
}

.featuresSection {
  margin-bottom: 10rem;
  background-color: rgba(115, 94, 94, 0.03);
  padding-top: 2rem;
  padding-bottom: 2rem;
}


