.root{
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7); 
  height: 75px;
  padding: 0px;
}

.contents {
  width: 95vw;
  margin: 0 auto;
  color: white;
  display: flex;
  height: 100%;
  align-items: center;
}

.form{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: baseline;
}

.signedUp{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.message{
  padding: 7px;
}