.hero {
  display: flex;
  align-items: center;
  width: 800px;
  margin-top: 5rem;
}
.heroTitle {
  font-size: 3rem;
}

.heroSubtitle {
  font-size: 1.5rem;
}

.logo {
  margin-right: 2rem;
}

.svg {
  fill: var(--color-primary);
}

@media only screen and (max-width: 600px){
  .hero{
    height: 13em;
  }
}



